@import '../../styles/main.scss';

.daily-card {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  width: 174px;
  height: 238px;
  margin-top: 30px;
  margin-left: 65px;
  color: $base-weak;
  background-color: $accent;
  border: 2px solid $base-strong;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  @include from ($ipad) {
    margin-left: 250px;
  }
  &__date {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 20px;
  }
  &__img {
    margin-top: 10px;
    margin-left: 35px;
  }
  &__temp {
    margin-top: 20px;
    margin-left: 80px;
    font-size: 32px;
    line-height: 32px;
  }
}